# IntelliJ IDEA
.idea/
*.iml
*.iws
*.local

# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Gradle
build/

# Java
*.class

#日志文件
*.log

# OS
.DS_Store
Thumbs.db

# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
env/

# ===== Visual Studio Code =====
.vscode/
*.code-workspace

# ===== Visual Studio 2022 =====
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
Win32/
x64/
Debug/
Release/
[Bb]in/
[Oo]bj/
*.dbmdl
*.jfm
*.pdb